{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-5">Forum</h1>

    <div class="bg-white shadow-md rounded-lg p-6">
        <table class="min-w-full bg-white">
            <tbody>
            <tr class="border-b">
                <th class="py-2 text-left text-gray-600">Id</th>
                <td class="py-2">{{ forum.id }}</td>
            </tr>
            <tr class="border-b">
                <th class="py-2 text-left text-gray-600">Title</th>
                <td class="py-2">{{ forum.title }}</td>
            </tr>
            <tr class="border-b">
                <th class="py-2 text-left text-gray-600">Description</th>
                <td class="py-2">{{ forum.description }}</td>
            </tr>
            <tr class="border-b">
                <th class="py-2 text-left text-gray-600">Location</th>
                <td class="py-2">{{ forum.location }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-5">
        <a href="{{ path('app_forum_index') }}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Back to list</a>
        <a href="{{ path('app_forum_edit', {'id': forum.id}) }}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded ml-4">Edit</a>
        {{ include('forum/_delete_form.html.twig') }}
    </div>


{% endblock %}
